langchain==0.0.148
langchain-core==0.0.148
langchain-community==0.0.148
langchain-chroma==0.0.148
langchain-groq==0.0.148
langchain-unstructured==0.0.148
langchain-huggingface==0.0.148
sentence_transformers==2.2.2
langchain-text-splitters==0.0.148
pypdf==3.8.0
rank_bm25==0.5.4
streamlit==1.24.1
chromadb==0.4.107